
.myDiv {
    background-color: blue;
    height: 200px;
    width: 200px;
}

/* id hamesha pehle exicute hoga essiliye output m aqua clr pehle aa rha */
/* agar kisi m !important laga diye wo wo important ho jayega */



#myId {
    background-color: aqua;
    height: 200px;
    width: 200px;
}